<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
        <hr>
        <section id="comments">
          <h4 style="color: #ab4443">Comments:</h4>
          <% @product.reviews.each do |review| %>
            <% @user = User.find_by(id: review.user_id) %>
              <dl>
                <dt>
                  <%= @user.first_name %> <%= @user.last_name %>
                </dt>
                <dt>
                  Rating: <span style="color: #ab4443"><%= review.rating %></span>
                </dt>
                <dt></dt>
                <dd>
                  <%= review.description %>
                </dd>
              </dl>
          <% end %>
        </section>
      </div>
    </div>

  </article>

</section>
