<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> 
        &raquo; 
        <%= @product.name %>
    </h1>
    <h3>
      Average rating
      &raquo;
      <% if @product.reviews.blank? %>
        No reviews yet!
      <% else %>
        <% @overall_rating = 0 %>
        <% @amount = 0 %>
        <% @product.reviews.each do |review| %>
          <% @overall_rating += review.rating.to_f %>
          <% @amount += 1 %>
        <% end %>
        <% @overall_rating = @overall_rating / @amount %>
        <%= @overall_rating.to_f.round(2) %>
      <% end %>
    </h3>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= humanized_money_with_symbol @product.price %></dd>
        </dl>
        <hr>
        <h4 class="review-title">Liked the product? Hated it? Somewhere in between??</h4>
        <h4 class="review-title">Add your opinion with the form below and let others know what you have to say about <%= @product.name %>!</h4>
        <%= form_for [@product, @review] do |f| %>
          <% if f.object.errors.any? %>
            <div>
              <strong>Uh oh!... you have the following errors:</strong>
              <ul>
                <% f.object.errors.full_messages.each do |e| %>
                  <li><%= e %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          
          <%= f.text_area :description, placeholder: "Speak your mind about: #{@product.name} " %>
          <div class="review-rating">
            <%= f.label :rating %>
            <%= f.select :rating, (1..5) %>
          </div>
          <%= f.hidden_field :product_id, :value => @product.id %>
          <%= f.submit 'Create Review', class: 'btn btn-primary submit_review' %>
        <% end %>
        <hr>
        <section id="reviews">
          <h4 style="color: #ab4443">Reviews:</h4>
          <% @product.reviews.reverse_each do |review| %>
            <% @user = User.find_by(id: review.user_id) %>
              <dl>
                <dt>
                  <%= @user.first_name %> <%= @user.last_name %>
                </dt>
                <dt>
                  Rating: <span style="color: #ab4443"><%= review.rating %></span>
                  <% if current_user.present? %>
                    <% if review.user_id == current_user.id %>
                      <%= link_to fa_icon('trash-o'), product_review_path(product_id: @product.id, id: review.id), method: :delete, data: { confirm: "Are you sure? \n Your opinion matters!" }, title: "Delete review" %>
                    <% end %>
                  <% end %>
                </dt>
                <dt></dt>
                <dd>
                  <%= review.description %>
                </dd>
              </dl>
          <% end %>
        </section>
      </div>
    </div>

  </article>

</section>
